<template>

	<div class="container" style="padding-top: 97px;">
		<div class="row justify-content-center">
			<div class="col-md-6">
			    <div class="card">
			        <div class="card-header">Registrar Profesional</div>

			        <div class="card-body">
			                    <form method="POST">
			                        <div class="form-group row">
			                            <label for="name" class="col-md-4 col-form-label text-md-right">Nombre y Apellidos</label>
			                            <div class="col-md-6">
			                                <input type="text" class="form-control" v-model="nombre_apellidos">
			                            </div>
			                        </div>

			                        <div class="form-group row">
			                            <label for="name" class="col-md-4 col-form-label text-md-right">Cédula</label>
			                            <div class="col-md-6">
			                                <input type="text" class="form-control" v-model="cedula">
			                            </div>
			                        </div>

			                        <div class="form-group row">
			                            <label for="name" class="col-md-4 col-form-label text-md-right">Fecha de Nacimiento</label>
			                            <div class="col-md-6">
			                                <input type="date" class="form-control" v-model="fecha_nacimiento">
			                            </div>
			                        </div>

			                        <div class="form-group row">
			                            <label for="name" class="col-md-4 col-form-label text-md-right">Profesion</label>
			                            <div class="col-md-6">
			                                <input type="text" class="form-control" v-model="profesion">
			                            </div>
			                        </div>
			                        <div class="form-group row">
			                            <label for="name" class="col-md-4 col-form-label text-md-right">Direccion</label>
			                            <div class="col-md-6">
			                                <input type="text" class="form-control" v-model="direccion">
			                            </div>
			                        </div>
			                        <div class="form-group row">
			                            <label for="name" class="col-md-4 col-form-label text-md-right">Municipio</label>
			                            <div class="col-md-6">
			                                <input type="text" class="form-control" v-model="municipio">
			                            </div>
			                        </div>
			                        <div class="form-group row">
			                            <label for="name" class="col-md-4 col-form-label text-md-right">Telefono</label>
			                            <div class="col-md-6">
			                                <input type="text" class="form-control" v-model="telefono">
			                            </div>
			                        </div>
			                        <div class="form-group row">
			                            <label for="name" class="col-md-4 col-form-label text-md-right">Sexo</label>
			                            <div class="col-md-6">
			                                <input type="text" class="form-control" v-model="sexo">
			                            </div>
			                        </div><br><br>

			                        <div class="form-group row">
			                            <label for="name" class="col-md-4 col-form-label text-md-right">Vehículo</label>
			                            <div class="col-md-6">
			                                <input type="text" class="form-control" v-model="categoria">
			                            </div>
			                        </div>

			                        <div class="form-group row">
			                            <label for="name" class="col-md-4 col-form-label text-md-right">Marca</label>
			                            <div class="col-md-6">
			                                <input type="text" class="form-control" v-model="marca">
			                            </div>
			                        </div>

			                        <div class="form-group row">
			                            <label for="name" class="col-md-4 col-form-label text-md-right">Año</label>
			                            <div class="col-md-6">
			                                <input type="text" class="form-control" v-model="año">
			                            </div>
			                        </div>

			                        <div class="form-group row mb-0">
			                            <div class="col-md-6 offset-md-4">
			                                <button type="button" @click="PostDataProfesional" class="btn btn-primary" v-if="tipoAccion==1">
			                                    Registrar Datos
			                                </button>
			                                <button type="button" @click="UpdateProfesional" class="btn btn-danger" v-if="tipoAccion==2">
			                                    Actualizar
			                                </button>
			                                <button type="button" @click="cerrarModal" class="btn btn-default" v-if="tipoAccion==2">
			                                    Cancelar
			                                </button>
			                            </div>
			                        </div>
			                    </form>
			        </div>
			    </div>
			</div>

			<div class="col-md-6">
			    <div class="card">
			        <div class="card-header">
			                	Lista de Datos <br>
			                	<input type="text" v-model="searchprofesional" class="form-control" v-on:keyup="searchProfesional">
			        </div>

			        <div class="card-body">
			                    <table class="table table-striped table-responsive">
			                    	<thead>
			                    		<th>Nombre y Apellidos</th>
			                    		<th>Cedula</th>
			                    		<th>Fecha de Nacimiento</th>
			                    		<th>Profesion</th>
			                    		<th>Direccion</th>
			                    		<th>Municipio</th>
			                    		<th>Telefono</th>
			                    		<th>Sexo</th>
			                    		<th>Vehículo</th>
			                    		<th>Marca</th>
			                    		<th>Año</th>
			                    	</thead>

			                    	<tbody v-for="data in getprofesional">
			                    		<td>{{ data.nombre_apellidos }}</td>
			                    		<td>{{ data.cedula }}</td>
			                    		<td>{{ data.fecha_nacimiento }}</td>
			                    		<td>{{ data.profesion }}</td>  
			                    		<td>{{ data.direccion }}</td> 
			                    		<td>{{ data.municipio}}</td> 
			                    		<td>{{ data.telefono}}</td>
			                    		<td>{{ data.sexo}}</td>
			                    		<td>{{ data.categoria}}</td>
			                    		<td>{{ data.marca}}</td>
			                    		<td>{{ data.año}}</td>
			                    		<td>
			                    			<button type="button" class="btn btn-primary">
			                    				<i class="icon-pencil" aria-hidden="true" @click="abrirModal('editar', data)"></i>
			                    			</button>

			                    			<button type="button" class="btn btn-danger">
			                    				<i class="icon-trash" aria-hidden="true" @click="DeleteData(data.idProfesional)"></i>
			                    			</button>
			                    		</td>                		
			                    	</tbody>
			                    </table>
			        </div>
			    </div>
			</div>
		</div>
	</div>

</template>


<script type="text/javascript">
	
	export default {

		data:function(){
			return {
				getprofesional:null,
				mostrar:0,
				tipoAccion:1,
				searchprofesional:'',
				id_profesional:'',
				nombre_apellidos:'',
				cedula:'',
				fecha_nacimiento:'',
				profesion:'',
				direccion:'',
				municipio:'',
				telefono:'',
				sexo:'',
				categoria:'',
				marca:'',
				año:'',
			}
		},

		methods:{

			cerrarModal(){
				let me = this;
                me.tipoAccion=1;
                me.Limpiar();
            },

            abrirModal(accion,data=[]){
                    switch(accion){
                            case 'editar':
                            {
                                this.tipoAccion=2;
                                this.id_profesional=data['id_profesional'];
                                this.nombre_apellidos=data['nombre_apellidos'];
                                this.cedula = data['cedula'];
                                this.fecha_nacimiento = data['fecha_nacimiento'];
                                this.profesion=data['profesion'];
                                this.direccion=data['direccion'];
                                this.municipio=data['municipio'];
                                this.telefono=data['telefono'];
                                this.sexo=data['sexo'];
                                this.categoria=data['categoria'];
                                this.marca=data['marca'];
                                this.año=data['año'];
                                break;  
                            }
                    }
            },

            Limpiar(){

            	let me= this;
            	me.nombre_apellidos='';
                me.cedula ='';
                me.fecha_nacimiento ='';
                me.profesion='';
                me.direccion='';
                me.municipio='';
                me.telefono='';
                me.sexo='';
                me.categoria='';
                me.marca='';
                me.año='';
            },

        	GetLista(){
        		let me=this;
        		axios.get('getprofesional').then(function(response){
                    me.getprofesional=response.data;
                    console.log(me.getprofesional);
                })
        	},

        	PostDataProfesional(){
        		let me = this;
        		Swal.fire({
                    title: 'Espere un momento !',
                    html: 'Estamos registrando',
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        Swal.showLoading()
                    },
                });
        		axios.post('post/dataprofesional', {
        			'nombre_apellidos':me.nombre_apellidos,
	               	'cedula':me.cedula,
	               	'fecha_nacimiento':me.fecha_nacimiento,
	               	'profesion':me.profesion,
                    'direccion' :me.direccion,
                    'municipio' :me.municipio,
                    'telefono' :me.telefono,
                    'sexo' :me.sexo,
                    'categoria' :me.categoria,
                    'marca' :me.marca,
                    'año' :me.año,
        		}).then(function(response){
        			swal.close();
                    me.GetLista();
                    me.Limpiar();
                    console.log(response.data);
                })
        	},

        	UpdateProfesional(){
        		let me = this;
	                axios.put('/update/dataprofesional',{
	                	'id_profesional':me.id_profesional,
	                	'nombre_apellidos':me.nombre_apellidos,
	                	'cedula':me.cedula,
	                	'fecha_nacimiento':me.fecha_nacimiento,
	                	'profesion':me.profesion,
                        'direccion' :me.direccion,
                        'municipio' :me.municipio,
                        'telefono' :me.telefono,
                        'sexo' :me.sexo,
                        'categoria' :me.categoria,
                        'marca' :me.marca,
                        'año' :me.año,
	                }).then(function(data){
	                    if (data.data.status === 'success') {
	                    		Swal.fire({
		                          title: data.data.message,
		                          text: 'Datos Actualizados',
		                          type: 'success',
		                          confirmButtonText: 'OK'
		                        });
                    			me.GetLista();
                                me.Limpiar();
                    			me.cerrarModal();
                         		console.log("exito!!");
                        } else {
                        		Swal.fire({
		                          title: data.data.message,
		                          text: 'Error en actualizar datos',
		                          type: 'success',
		                          confirmButtonText: 'OK'
		                        });
                        		me.GetLista();
                        		me.Limpiar();
                    			me.cerrarModal();
                          		console.log("Error");
                        };
	                })
        	},

        	DeleteData(id_profesional){
        		let me=this;
        		axios.delete('/deleteprofesional/'+id_profesional).then(function(response){
                    me.getprofesional=response.data;
                    console.log(me.getprofesional);
                })
        	},

        	searchProfesional(){
        		let me=this;
                axios.get('/buscar/profesional?buscarprofesional='+ me.searchprofesional).then(function(response){
                    me.getprofesional=response.data;
                    console.log(me.getprofesional);
                 })
        	}

        },


        mounted() {
            let self = this
            setTimeout(function(){
                self.GetLista();
            },2000);

        }

	}


</script>